/* Template */


hr{
  background-color: #ffcc00;
}
h5{
  text-align: center;
}
.footer { 
  clear: both;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

body > .container {
  padding: 80px 15px 0;
}

.footer > .container { 
  
  margin-top:20px;
  padding-right: 5px;
  padding-left: 5px;
}



/************************* Custom styles */
.login{
  border: solid 1px black;
  padding: 20px;
}

.form-group label {
  font-style: bold;
}

.navbar-style {
  background-color: #ffcc00;
  height: 60px;
  padding-bottom: 15px;
}

nav .nav-link {
  color: #000;
}
.textoFooter {
  font-size: small;
  line-height: 200%;
}
/* Style DeashBoard */
.dados{

  margin-top: 20px; 
  height: 110px;
  background-color: ghostwhite;
  border: 1px solid rgb(0, 0, 0);
}

.opcoesUser{
  text-align: center;
  margin-top: 20px;
}

.naveg{
  border-radius: 3%;
  border: 1px solid black;
  text-align: center;
  margin-left: 25px; 
  margin-top: 40px;
  width: 300px;
  height: 300px;
  background-color: white;
}

.naveg p{
  margin-top: 15px;
}


.resumoD{
  border-radius: 3%;
  border: 1px solid black;
  width: 200px;
  height: 100px;
  background-color: white;
}

/* Stlye cooperados */
